[build]
  command = "npm run build"
  publish = "dist"

[build.environment]
  NODE_VERSION = "20"
  [[plugins]]
package = "@netlify/plugin-lighthouse"

[[headers]]
for = "/gallery/*"
  [headers.values]
  Cache-Control = "public, max-age=31536000, immutable"
