/* GLOBAL RESET */
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

/* HERO background animation */
.hero-animate {
  animation: zoomIn 6s ease-in-out infinite alternate,
    subtleLight 10s ease-in-out infinite alternate;
}

/* Zoom-in movement */
@keyframes zoomIn {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}

/* Light pulsation */
@keyframes subtleLight {
  0% {
    filter: brightness(1);
  }
  100% {
    filter: brightness(1.05);
  }
}
